form{
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 1rem 1rem ;
    align-items: flex-start;
}
form .botao{
    margin-bottom: 1rem;
    padding: 1rem 5rem;
    align-self: flex-end;
}

.input__container{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 1rem 1rem 1rem 0;
}
.input__padrao{
    background-color: var(--cor-branco);
    padding: .75rem;
    border-radius: 8px;
    border: none;
    margin-top: 1rem;
    color: var(--cor-cinza);
}
input[type="date" i],
.input__padrao::placeholder{
    font-size: var(--tamanho-pequeno);
    font-weight: var(--peso-medio);
    color: var(--cor-cinza);
    font-family: var(--fonte);
}

input:active{
    border: 1px solid var(--cor-azul);
}