/* Icones */
.icone--video{
    background: var(--icone-video);
}
.icone--local{
    background: var(--icone-local);
}
.icone--calendario{
    background: var(--icone-calendario);
}
.icone--clientes{
    background: var(--icone-clientes);
}
.icone--relatorio{
    background: var(--icone-relatorio);
}
.icone--menu{
    background: var(--icone-menu);
}
.icone--mais{
    background: var(--icone-mais);
}
.icone--localizacao{
    background: var(--icone-localizacao);
}
.icone--chamada{
    background: var(--icone-chamada);
}
.icone--menos{
    background: var(--icone-menos);
}