.texto__destaque{
    font-size: var(--tamanho-grande);
    font-weight: var(--peso-negrito);
}

.texto__titulo{
    font-size: var(--tamanho-medio);
    font-weight: var(--peso-negrito);
    margin: 1rem .5rem;
}

.texto__subtitulo{
    font-weight: var(--peso-negrito);
    font-size: var(--tamanho-normal);
}

.texto__normal{
    font-size: var(--tamanho-pequeno);
    font-weight: var(--peso-medio);
    padding: .5rem 0;
}

.texto__claro{
    color: var(--cor-secundaria);
    padding-top: .5rem;
    font-size: var(--tamanho-normal);
}

.texto__claro--pequeno{
    color: var(--cor-secundaria);
    font-size: var(--tamanho-pequeno);
}

.texto__modal{
    background-color: var(--bkg-secundario);
    font-size: var(--tamanho-pequeno);
    font-weight: var(--peso-medio);
    padding: .25rem;
    border-radius: 8px;
    margin-right: 1rem;
}