@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url(_reset.css);
@import url(_textos.css);
@import url(_botoes.css);
@import url(_modal.css);
@import url(_menu.css);
@import url(_cards.css);
@import url(_cabecalho.css);
@import url(_formulario.css);

:root{
    --bkg-principal:#ECECEC;
    --bkg-secundario: #FFFFFF;
    --bkg-destaque-primaria: #4894FF;
    --bkg-destaque-secundaria: #FFB050;
    --cor-primaria:#464646;
    --cor-secundaria: #A3A3A3;
    --cor-terciaria: #FFFFFF;
    --filtro-primario: invert(25%) sepia(0%) saturate(0%) hue-rotate(187deg) brightness(97%) contrast(86%);
    --filtro-secundario: invert(50%) sepia(28%) saturate(3782%) hue-rotate(197deg) brightness(103%) contrast(102%);

    --fonte: 'Montserrat', sans-serif;
    --tamanho-pequeno: .75rem;
    --tamanho-normal: .88rem;
    --tamanho-medio: 1rem;
    --tamanho-grande: 1.38rem;
    --peso-normal: 400;
    --peso-medio: 500;
    --peso-negrito: 700;

    --icone-video: url("../icones/Camera.svg") no-repeat;
    --icone-local: url("../icones/localizacao.svg") no-repeat;
}

html{
    font-size: 14px;
}

body{
    background: var(--bkg-principal);
    color: var(--cor-primaria);
    font-family: var(--fonte);
    font-weight: var(--peso-normal);
}

header,
main{
    padding: .5rem;
}

@media screen and (min-width: 750px){
    html{
        font-size: 16px;
    }
}
@media screen and (min-width: 1100px){
    html{
        font-size: 18px;
    }
    
    header,
    main{
        margin-left: 185px;
    }
}

